.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.container {
    padding-top: 50px;
    margin: auto;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../assets/Img/back9.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.tela {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    padding: 20px;
    border-radius: 5px;
}