body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../assets/Img/back10.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.tela {
    margin-top: 4%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    padding: 5%;
    border-radius: 2px;
}

.sub:hover {
    background: #ff497c;


}